<html>
<head>
<title>{{.MainPageInfo.Title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<h2>{{.MainPageInfo.Title}}</h2>

<h3>Commands:</h3>
<ul>{{range .Commands}}
  <li><a href="{{.HttpPath}}">{{.Description}}</a></li>{{end}}
</ul>

{{ if .StaticDirectories }}
  <h3>Directories:</h3>
  <ul>{{range .StaticDirectories}}
    <li><a href="{{.HttpPath}}">{{.DirectoryPath}}</a></li>{{end}}
  </ul>
{{ end }}

<h3>Debugging:</h3>
<ul>
  <li><a href="reqinfo">reqinfo</a>
  {{ if .PprofInfo.Enabled }}
  <li><a href="debug/pprof">pprof</a>
  {{ end }}
</ul>

<hr>

<small>Last Modified: {{.LastModified}}</small>

</body>
</html>
