<!DOCTYPE html>
<html>

<head>
  <title>{{.MainPageInfo.Title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

  <h2>{{.MainPageInfo.Title}}</h2>

  {{ if .CommandConfiguration.Commands }}
  <h3>Commands:</h3>
  <ul>{{range .CommandConfiguration.Commands}}
    <li><a href="/commands/{{.ID}}.html">{{.Description}}</a></li>{{end}}
  </ul>
  {{ end }}

  {{ if .Proxies }}
  <h3>Proxies:</h3>
  <ul>{{range .Proxies}}
    <li><a href="/proxies/{{.ID}}.html">{{.Description}}</a></li>{{end}}
  </ul>
  {{ end }}

  {{ if .StaticDirectories }}
  <h3>Directories:</h3>
  <ul>{{range .StaticDirectories}}
    <li><a href="{{.HTTPPath}}">{{.DirectoryPath}}</a></li>{{end}}
  </ul>
  {{ end }}

  <h3>Debugging:</h3>
  <ul>
    <li><a href="configuration">configuration</a></li>
    <li><a href="environment">environment</a></li>
    {{ if .PprofInfo.Enabled }}
    <li><a href="debug/pprof">pprof</a></li>
    {{ end }}
    <li><a href="reqinfo">reqinfo</a></li>
  </ul>

  <hr>

  <small>Last Modified: {{.LastModified}}</small>
  <br>
  <small>Git Commit: {{.GitCommit}}</small>

</body>

</html>